<% content_for :title, "#{current_organization.name} - Donations" %>

<h1>Donation from <%= @donation.source %></h1>

<fieldset>
<h4>Donation Date: <%= @donation.created_at.strftime("%B %-d %Y") %></h4>
<p><strong>Source:</strong> <%= @donation.source %></p>
<p><strong>Drop-Off Location:</strong> <%= @donation.dropoff_location.name %></p>
<p><strong>Storage Location:</strong> <%= @donation.storage_location.name %></p>
<%= link_to "Make a correction >", edit_donation_path(@donation) %>
</fieldset>


<section id="line_items">
  <table>
    <thead>
      <th>Item</th>
      <th>Quantity</th>
    </thead>

    <tbody>
      <%= render partial: "donation_item_row", collection: @line_items %>
    </tbody>
  </table>

<!--
TODO: What's the best way to do this? Should we use a new workflow?
-->
</section>
